.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.items-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
  padding: 2rem 1rem 4rem;
}
