@use "sass:color";

$linkColor: #aab9b0;
$desktop: 768px;

.footer {
  background-color: #1e1e1e;
  padding: 3rem 1rem 4rem;
}

.footerLinks {
  flex-direction: column;
  gap: 1rem 2rem;

  @media (width >= $desktop) {
    flex-direction: row;
  }

  li {
    position: relative;

    @media (width >= $desktop) {
      &:not(:last-child)::before {
        content: "|";
        position: absolute;
        right: -1rem;
        color: $linkColor;
      }
    }
  }

  a {
    color: $linkColor;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: color.adjust($linkColor, $lightness: 20%);
    }
  }
}

.footerCopyright {
  color: #939392;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.footerBottom {
  gap: 32px;
  flex-direction: column;
  align-items: center;

  @media (width >= $desktop) {
    flex-direction: row;
  }
}

.footerSocialIcons {
  column-gap: 2rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    width: 45px;
    height: 45px;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  img {
    height: 35px;
  }
}

.footerAppStoreIcons {
  gap: 1.5rem;
  justify-content: center;

  a {
    display: inline-block;
  }

  img {
    height: 40px;
  }
}
