.titleCardImage {
  display: block;
  aspect-ratio: 2/3;
  background: #1e1e1e url(/assets/placeholder.png) center no-repeat;
  position: relative;
  margin-bottom: 0.25rem;

  span {
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
  }
}

.titleCardLink {
  color: inherit;
  text-decoration: none;
}
